* {
    font-family: "Times New Roman";
    margin: 0;
    padding: 0;

  }

  .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(logo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo{
    color: #f9f9f9;
    font-size: 35px;
    font-family: "Times New Roman";
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.slogan{
    color: #f9f9f9;
    font-size: 79x;
    font-family: "Times New Roman";
    text-align: center;
    padding-left: 20px;

}

.navbar ul {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.193);

}

.navbar li {
  float:right;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #141414;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.home .par1{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}


.about .par2{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}
