* {
    font-family: "Times New Roman";
    margin: 0;
    padding: 0;

  }
/*
  .main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(logo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
*/

.background-container {
    background-image: url('logo.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Set the height to your desired length */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; /* Set the text color to be visible on the background */
}

.logo{
    color: #f9f9f9;
    font-size: 35px;
    font-family: "Times New Roman";
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}


.slogan{
    color: #000000;
    font-size: 79x;
    font-family: "Times New Roman";
    text-align: center;
    padding-left: 20px;

}

.navbar ul {
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.193);

}

.navbar li {
  float:right;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #141414;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.container{
    width: 100%;
    height: 100vh;
}

.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color:#fff;

}

.slides h2{
    font-size: 70px;
    font-weight: 600;
    max-width: 650px;
}
.slide1{
    background:linear-gradient(454deg, #4f4080, #9553ff)
}

.slide1{
    background:linear-gradient(454deg, #404c80, #53ff53)
}

.slide1{
    background:linear-gradient(454deg, #9574ff, #ff5353)
}

.home .par1{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}


.about .par2{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Times New Roman';
    letter-spacing: 1.2px;
    line-height: 30px;
}
